@media screen and (max-width: 576px) {
  /* 
  
  BANNER 
  
  */
  header {
    height: 70vh;
    background-size: cover;
    width: 100%;
  }
  .info-banner {
    padding: 0;
    left: 12% !important;
  }
  /* Ẩn phần tên ở giữa của NAVBAR */
  .nav-bar-name {
    display: none !important;
  }

  /* Thay đổi NAVABAR theo thiết kế */
  .container-navbar {
    display: block;
  }
  .container-navbar a {
    display: block;
    text-align: left;
    padding: 10px 5px 10px 35px !important;
  }
  /* THÔNG TIN & TIỂU SỬ */
  /* Chỉnh phần mục tiêu nghề nghiệp và Thông tin cá nhân xuống 1 cột */
  .container-info {
    grid-template-columns: 1fr;
  }
  /* Thiết lập chiều cao */
  #personal-info,
  #target {
    height: 380px;
  }

  /* 

  BỐ CỤC GRID LAYOUT: THÔNG TIN NGHỀ NGHIỆP

  */
  /* Chỉnh thành 1 cột trên điện thoại */
  .container-grid {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(6, auto) !important;
  }
  .container-grid div {
    padding-bottom: 15px;
  }
  /* chỉnh sửa các Icon */
  .ic-tools-2,
  .ic-mic,
  .ic-telescope {
    margin: 15px 10px 0 0;
  }
  /* 
  
  CHỨNG CHỈ
  
  */
  .chungchititle {
    text-align: center;
  }
  /* Chỉnh thành 1 cột */
  .chungchi-content {
    grid-template-rows: repeat(3, auto) !important;
    grid-template-columns: 1fr;
  }
  /* Thay đổi nhỏ trong khoind */
  .khoind {
    text-align: center;
  }
  .nd2::before {
    display: none;
  }
  .khoind img {
    height: 135px !important;
  }
  .m-- h3 {
    font-weight: 300;
    font-size: 22px;
  }
  .m-- p {
    font-size: 20px;
  }
  /* 
  
  DỰ ÁN
  
  */
  /* Tiêu đề */
  .duan-title {
    font-size: 35px;
    margin: 15px 0 30px 0;
    text-align: center;
  }
  /* Hình ảnh */
  .duan-inside img {
    width: 100% !important;
  }
  /* Chỉnh thành 1 cột */
  .duan-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
  }
  .duan-content > * {
    height: auto;
  }
  /* Chỉnh sửa chi tiết từng cột */
  .duan-inside {
    grid-template-columns: 100% !important;
    padding: 0 10% 0 10%;
  }
  /* Khung thời gian của DỰ ÁN */
  .time {
    grid-template-rows: repeat(3, auto) !important;
    grid-template-columns: auto 1fr !important;
    padding-bottom: 10px;
  }
  .icon-user-1 {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
  }
  .f-- {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .icon-lamp {
    grid-row: 3/4 !important;
    grid-column: 1/2 !important;
    justify-self: center;
  }
  .job {
    grid-row: 3/4 !important;
    grid-column: 2/3 !important;
  }
  .mota {
    height: auto !important;
  }
}
